body {
  background-color: #f1f1f1;
  overflow-x: hidden;
  margin: 0;
}

.containers {
  margin: 30px;
}

.heading-details {
  text-align: center;
}

.heading-title {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

/* left-right */
.left-right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vw;
}

/* left section */
.left-top-section,
.right-top-content,
.right-medium-content,
.right-bottom-content {
  box-shadow: 0 4px 10px 0 #0003, 0 4px 20px 0 #00000030;
  background-color: #fff;
}

.left-top-section {
  width: 62vw;
  margin-bottom: 50px;
}

.left-section {
  width: 100%;
}

.left-image-top {
  background-image: url("../images/woods.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 35vh;
}

.left-image-bottom {
  background-image: url("../images/bridge.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 35vh;
}

.emphassis-top,
.empahssis-bottom {
  color: #838280;
}

.left-top-details,
.left-bottom-details {
  padding: 0.1rem;
  line-height: 1.5;
  margin: 2px;
}

.left-read-me-top .more-top,
.left-read-me-bottom .more-bottom {
  border: 1px solid #d6d5d5;
  width: 10%;
  padding: 1rem;
}

.left-read-me-top .comment-top,
.left-read-me-bottom .comment-bottom {
  display: flex;
  justify-content: right;
  margin-top: -60px;
  padding: 1rem;
  letter-spacing: 1px;
}

.boldness-top,
.boldness-bottom {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  margin-top: -10px;
}

.boldness-bottom {
  padding: 0.4rem;
  border-radius: 50%;
}

.left-read-me-top .more-top:hover,
.left-read-me-bottom .more-bottom:hover {
  background-color: #99958f;
  cursor: pointer;
}

/* right */
.right-picture,
.right-section,
.right-middle-image {
  width: 100%;
}

.right-medium-heading {
  background-color: #f1f1f1;
  padding: 0.5rem;
  font-size: 20px;
}

.right-top-details {
  margin: 15px;
  line-height: 1.6;
}

.right-middle-image img {
  width: 50px;
}

.bottom-right-paragraph p {
  background-color: #cecaca;
  font-size: 13px;
  padding: 0.1rem;
  margin: 5px;
}

.right-middle-image p {
  display: flex;
  border-bottom: 1px solid #cecaca;
  padding: 0.5rem;
  gap: 20px;
}

.right-middle-image p:hover {
  background-color: #cecaca;
}

.bottom-right-heading {
  padding: 0.5rem;
  background-color: #f1f1f1;
  margin-bottom: 15px;
}

.bottom-right-paragraph {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 1rem;
}

.bottom-right-paragraph .travel {
  background-color: #000;
  color: #fff;
  font-size: 15px;
}

/* footer */
.last-section {
  background: #616161;
  display: flex;
  padding: 1rem 2rem;
  color: #fff;
}

.directions {
  display: flex;
  gap: 10px;
}

.previous,
.next {
  background-color: #000;
  padding: 1rem 2rem;
}

.previous {
  cursor: not-allowed;
  opacity: 0.5;
}

.next:hover {
  cursor: pointer;
  background-color: #f1f1f1;
  color: #000;
}

.footer-link {
  color: #fff;
}

/* responsiveness */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .left-right {
    display: flex;
    flex-direction: column;
  }

  .left-top-section {
    width: 100%;
  }

  .left-section {
    width: 100%;
  }
}
