body {
  background-color:  #f1f1f1;
  margin: 30px;
}

.heading-details {
  text-align: center;
}

.heading-title {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

/* left-right */
.left-right {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vw;
}

/* left section */
.left-top-section,
.right-top-content,
.right-medium-content,
.right-bottom-content {
  box-shadow:0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
  background-color: #fff;
}

.left-top-section {
  width:62vw;
  margin-bottom: 50px;
}

.left-section {
  width: 100%;
}

.left-image-top {
  background-image: url("../images/woods.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 35vh;
}

.left-image-bottom {
  background-image: url("../images/bridge.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 35vh;
}

.emphassis-top,
.empahssis-bottom {
  color: #838280;
}

.left-top-details,
.left-bottom-details {
  padding: 0.1rem;
  line-height: 1.5;
  margin: 2px;
}

.left-read-me-top .more-top,
.left-read-me-bottom .more-bottom {
  border: 1px solid #d6d5d5;
  width: 10%;
  padding: 1rem;
}

.left-read-me-top .comment-top,
.left-read-me-bottom .comment-bottom {
  display: flex;
  justify-content: right;
  margin-top: -60px;
  padding: 1rem;
  letter-spacing: 1px;
}

.boldness-top,
.boldness-bottom {
  background-color: #000;
  color: #fff;
  padding: 0.5rem;
  margin-top: -10px;
}

.left-read-me-top .more-top:hover,
.left-read-me-bottom .more-bottom:hover{
  background-color: #99958f;
  cursor: pointer;
}


/* right */
.right-picture {
    width: 100%;
}

.right-section {
  width: 100%;
}

.right-top-content {

}

.right-medium-heading {
  background-color: #f1f1f1;
  padding: 0.5rem;
  font-size: 20px;
}

.right-top-details {
  margin: 15px;
  line-height: 1.6;
}

.right-middle-image {
  width: 100%;
}

.right-middle-image img {
  width: 50px;
}

.right-middle-image p {
  display: flex;
  border-bottom: 1px solid #cecaca;
  padding: 0.5rem;
  gap: 20px;
}

.bottom-right-heading {
  padding: 0.5rem;
  background-color: #f1f1f1;
  margin-bottom: 15px;
}


.bottom-right-paragraph {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.bottom-right-paragraph p {
  background-color:  #cecaca;
  font-size: 13px;
  padding: 0.1rem;
  margin: 5px;
}

.bottom-right-paragraph .travel {
  background-color: #000;
  color: #fff;
  font-size: 15px;
  
}
